{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                - Registro
            {% endblock %}    
        </title>
    </head>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    <body>
        {% block content %}
            <h1>Registro</h1>

            {% if form %}
                <form action="" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Enviar">
                </form>
            {% else %}
                <h2 id="regis">Lista de Registrados</h2>

                <ul id="regi">
                    {% for r in Registrados %}

                        <li>
                            {{ r.nombre }}
                            <p>
                                {{ r.correo }}
                            </p>
                        </li>

                    {% endfor %}
                </ul>

            {% endif %}

            <a href="registro/add">Registrarse</a>

        {% endblock %}
    </body>
</html>